html *
{
   background-color: #000 !important;
   color: #fff;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
header {
    width: 100%;
    height: 20%;
    background: aqua;
    margin-left: 10px;
    padding: 10px;
}
*/

body {
  padding-top: 30px;
}

#rightCol{
  float: right;
  margin-right: 50px;
}

#leftCol{
  float: left;
  margin-left: 50px;
  width: 25%;
}

div#clock {
    /*width: 20%;*/
    /*background: red;*/
    /*float: left;*/
    margin-right: 20px;
    /*width:165px;*/
    margin-bottom: 20px;
}

#date{
  font-size: 125%;
  margin-bottom: 0px;
}

#timeString{
  font-size: 250%;
  margin-bottom: 0px;
}

#roomtempstring{
  font-size: 105%;
  margin-bottom: 0px;
}

#calandar{
  /*float:right;*/
}

#calandarRefresh{
  float: right;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 2px;
  padding-left: 10px;
}

div#timer {
    /*width: 25%;*/
    /*height: 70px;*/
    /*background: red;*/
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
}

#timer h4 {
    margin-left: 70px;
}

#soundPicker{
  margin-bottom: 10px;
}

div#stocks {
    
    /*height: 110px;*/


    /*background: red;*/
    float: left;
    /*float: top;*/
    /*margin-left: 20px;*/
    margin-bottom: 40px;
}


  #stocks h4{
   /* text-align: center;*/
   margin-left: 20px;
  }

  #stockForm{
    margin-top: 10px;
    /*margin-left: 40px;*/
  }

#stocklist {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin-bottom: 5px;
    width: 200px;
    /*width: 100%;*/
}

#stocklist td{
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 8px;
}

/*#stocklist tr {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-collapse: collapse;
}*/

/*#stocklist tr:nth-child(even){background-color: #f2f2f2;}*/

#stocklist tr:hover {
  background-color: #ddd;
}

#stocklist tr:hover i{
  display: inline;
}

#stocklist tr i{
  display: none;
  margin-left: 5px;
}

/*#stocklist th {
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: left;
    background-color: #f2f2f2;
    color: black;
    colspan="3";
}

#stocklist th {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}*/

#stockPlus{
  color: green;
  float: right;
  padding-top: 2px;
  padding-bottom: 2px;
}

#stocklist {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin-bottom: 5px;
    /*width: 100%;*/
}

#stocklist td{
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 8px;
}

/*#stocklist tr {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-collapse: collapse;
}*/

/*#stocklist tr:nth-child(even){background-color: #f2f2f2;}*/

#stocklist tr:hover {
  background-color: #ddd;
}

#stocklist tr:hover i{
  display: inline;
}

#weatherTable{

  /*background: red;*/
  float: left;
  /*margin-left: 20px;*/

}

/*.day {
  text-align: left;
}*/

#weatherlist tr i{
  display: none;
  margin-left: 5px;
}

/*#weatherlist th {
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: left;
    background-color: #f2f2f2;
    color: black;
    colspan="3";
}

#weatherlist th {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
   /* padding: 8px;*/
}*/

#weatherlist {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin-bottom: 5px;
    /*width: 100%;*/
}

.todayWeather{
    /*border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;*/
    /*border: 1px solid #ddd;*/
    padding: 8px;
    text-align: center;
}

.todayWeather td{
    /*border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;*/
    /*border: 1px solid #ddd;*/
    width: 70px;
}

#tempRow {
    border-bottom: 2px solid #ddd;
}
#timeRow{
  border-top: 2px solid #ddd;
}

#weatherRefresh{
  float: right;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 2px;
  padding-left: 10px;
}

#timerPlus{
  color: green;
  float: right;
  padding-top: 2px;
  padding-bottom: 2px;
}

/*.mrow{
  margin-top: 10px;
}

#minsfortimer{
  padding-left: 2px;
}*/

#quoteShuffle{
  float: right;
  padding-top: 2px;
  padding-bottom: 2px;
}

#quoteText{
  font-size: 150%;
}

#authorName{
  font-size: 125%;
}


#timerlist {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin-bottom: 5px;
    /*width: 100%;*/
}

/*#timerlist th {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

#timerlist td{
    border-bottom: none;
    border-top: none;
    padding: 2px;
    padding-right: none;
}*/

/*#stocklist tr {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-collapse: collapse;
}*/

/*#stocklist tr:nth-child(even){background-color: #f2f2f2;}*/

/*#timerlist tr:hover {
  background-color: #ddd;
}*/


/*#timerlist th {
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: left;
    background-color: #f2f2f2;
    color: black;
    colspan="3";
}*/

/*div#quote {
    float: right;
    margin-left: 20px;
    width: 15%;
}*/

#quotelist {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin-bottom: 5px;
/*    margin-top: 40px;*/
    /*margin-left: 20px;*/
}

th {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    background-color: #f2f2f2;
    /*color: black;*/
    colspan="3";
    border-bottom: 1px solid #ddd;
    /*border-top: 1px solid #ddd;*/
}

/*#quotelist th {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}*/

#quotelist td{
    border-bottom: none;
    border-top: none;
    padding: 2px;
    padding-right: none;
}

/*#quotelist tr {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-collapse: collapse;
}*/

/*#quotelist tr:nth-child(even){background-color: #f2f2f2;}*/

/*#quotelist tr:hover {
  background-color: #ddd;
}*/


/*#quotelist th {
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: left;
    background-color: #f2f2f2;
    color: black;
    colspan="3";
}*/

/*#quote{
  margin-top: 40px;
  margin-left: 20px;
  width: 30%;
}*/

#newquote{
  margin-top: 5px;
  margin-left: 20px;
  margin-bottom: 20px;
}
 
/* #weather{
   position:absolute;
   top:0;
   right:0;
   float: right;
   margin-right: 20px;
   margin-top: 10px;
   border:1px solid black;
  max-width: 100%;
  overflow-x: hidden;
  }
   #weather p{
   text-align: center;
   font-style: italic;
   font-size: 75%;
  }

   #weather li{
   font-style: bold;
   font-size: 125%;
  }

  #weather h2{
    text-align: center;
  }

  #currentWeatherList{
    margin-bottom: 5px;
  }*/


/*  body{
    background-color:black;
    color:white;
  }*/

/*  #clock{
    padding-left: 20px;
    border:1px solid black;
    width: 50%;

  }*/

  #news{
    /*float: right;*/
    /*border:1px solid black;*/
    margin-left: 20px;
    margin-bottom: 20px;
    padding-bottom: 40px;
    width: 400px;
  }
  #news h2{
    text-align: center;
  }

    #newslist {
    /*border:1px solid black;*/
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin-bottom: 5px;
    width: 400px;
    /*width: 100%;*/
}

#newslist td{
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 8px;
}

#newslist td img{
  width: 200px;
}

.articleTitle{
  width: 200px;
  vertical-align:top;
}

/*#stocklist tr {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-collapse: collapse;
}*/

/*#stocklist tr:nth-child(even){background-color: #f2f2f2;}*/

#newslist tr:hover {
  background-color: #ddd;
}

#newsRefresh{
  float: right;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 2px;
  padding-left: 10px;
}

#showMoreButton{
  display: block; 
  margin: 0 auto;
  margin-bottom: 50px;
}

  #sports{
  width: 30%;
  float: left;
  /*padding-left: 20px;*/
  margin-left: 20px;
  /*border:1px solid black;*/
}

    #sports h2{
    text-align: center;
  }

/*  .google{
    margin-left: 20px;
    border:1px solid black;
    width: 30%;
  }*/

  #calandar {
    /*width: 25%;*/
    /*background: red;*/
    /*float: left;*/
    /*float: top;*/
    /*margin-left: 20px;*/
    float: left;
    width: 400px;
    margin-left: 20px;
}

  #eventlist {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin-bottom: 5px;
    /*width: 100%;*/
}

#eventlist td{
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 8px;
}

/*#stocklist tr {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-collapse: collapse;
}*/

/*#stocklist tr:nth-child(even){background-color: #f2f2f2;}*/

#eventlist tr:hover {
  background-color: #ddd;
}

/*#eventlist tr:hover i{
  display: inline;
}

#eventlist tr i{
  display: none;
  margin-left: 5px;
}*/

/*  #lug{
    margin-left: 20px;
  }*/

  .btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-bottom: 10px;
    margin-top: 10px;
}

/*#footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
   margin-left: 25%;
}*/
#center {
    width: 75%;
    margin: 0 auto;
}

div#todo {

    width: 200px;
    /*height: 110px;*/


    /*background: red;*/
    float: left;
    /*float: top;*/
    /*margin-left: 20px;
    margin-bottom: 20px;*/
}

  #todoForm{
    margin-top: 10px;
    /*margin-left: 40px;*/
  }

#todolist {
    width: 200px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin-bottom: 5px;
    /*table-layout:fixed;*/ 
    /*word-break: break-all;*/ 
    /*width: 100%;*/
}

#todolist td{
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 8px;
    overflox: hidden;
}

/*#stocklist tr {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-collapse: collapse;
}*/

/*#stocklist tr:nth-child(even){background-color: #f2f2f2;}*/

#todolist tr:hover {
  background-color: #ddd;
}

#todolist tr:hover i{
  visibility: visible;
}

#todolist tr i{
  visibility: hidden;
  margin-left: 5px;
}

/*#stocklist th {
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: left;
    background-color: #f2f2f2;
    color: black;
    colspan="3";
}

#stocklist th {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}*/

#todoPlus{
  color: green;
  float: right;
  padding-top: 2px;
  padding-bottom: 2px;
}
